
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Örnek View</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eren</td>
        <td>Enginar</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tuğba</td>
        <td>Enginar</td>
    </tr>
</table>

